body {
    font-family: 'Montserrat', 'Ruthligos', sans-serif;
}

.main-btn {
    font-size: 20px;
    margin-top: 35px;
    margin-left: 30px;
    font-weight: 700;
    color: #fff;
    background-color: #005EB8;
    border-style: none;
    width: 226px;
    height: 59px;
    top: 45px;
    left: 1084px;
    border-radius: 8px;
}

.navbar-nav a {
    margin-left: 10px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 700;
}

#navbarNav {
    margin-left: 130px;
}

.container-fluid img {
    margin-left: 90px;
    margin-top: 41px;
    width: 300px;
    height: 68px;
}

.gallery-text h1 {
    font-weight: 700;
    font-size: 35px;
}

.gallery-text p {
    font-weight: 500;
    font-size: 20px;
}

.photo-gallery {
    display: flex;
    gap: 20px;
}

.photo-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.book-section2 {
    background-color: #005EB8;
}
  
.book-section2 h2 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 30px;
}
  
.book-section2 h1 {
    color: #fff;
    font-weight: 700;
    font-size: 66px;
    font-family: 'Montserrat', sans-serif;
}

.book-btn {
    background-color: #FCB812;
    width: 226px;
    height: 59px;
    border-radius: 8px;
    border-style: none;
    font-weight: 700;
    font-size: 20px;
    color: #005EB8;
}

.f-img-text {
    font-weight: 700;
    font-size: 24px;
  }
  
  .footer-head,.footer-text {
    margin-bottom: 30px;
  }
  
  .footer-head {
    color: #303030;
    font-weight: 700;
    font-size: 16px;
  }
  
  .footer-text {
    color: #303030;
    font-weight: 600;
    font-size: 16px;
  }
  
  .footer-btn{
    border-style: none;
    border-radius: 8px;
    background-color: #005EB8;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    width: 226px;
    height: 59px;
  }

  .socials ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
  }
  
  .socials ul li .fa-brands {
    line-height: 50px;
    font-size: 23px;
    color: #005EB8;
  }
  
  .socials ul li a {
    border-radius: 20px;
    width: 51px;
    height: 50px;
    position: relative;
    display: block;
    background-color: #C7DDFC;
    text-align: center;
  }